
*{
	box-sizing: border-box;
}

body{
	
	margin: 10px;

}

#p1 {
	background-color: pink;
}

#p2 {
	background-color: pink;
}

#p3 {
	background-color: pink;
}
section{
	margin-left: 450px;
	margin-top: 0;
	background-color: grey;
	border-width: 50%;
	border: solid black; 
	width: 25%;
	padding: 5px;
	text-align:right;
	font-size: large;
	font-weight: bold;
}


@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33%;
		border: 1px solid blue;
		margin: 1px;
		box-sizing: border-box;
		padding: 5px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float:left;
		width: 50%;
		border: 1px solid blue;
		margin-bottom: 5px;
		box-sizing: border-box;
		padding: 5px;
	}
	.col-md-12{
		width: 100%;
		border: 1px solid blue;
		padding: 5px;
		box-sizing: border-box;
		float: left;
	}
}

@media (max-width: 767px){
	.col-sm-12{
		width: 100%;
		border: 1px solid blue;
		margin: 5px;
		padding: 5px;
		box-sizing: border-box;
	}
}